<%- include("partials/header"); -%>
    <div class="play_top1">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <img class="logo" src="images\logo.png" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/news">Olympic News</a>
                        <a class="nav-link" href="analysis.html">Analysis</a>
                        <a class="nav-link" href="/play">Gallery</a>
                    </div>
                </div>
            </div>
        </nav>

        <h1>ABOUT US</h1>
    </div>

    <div class="container about_mn">
        <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3">
            <div class="col">
                <div class="p-3">
                    <h1 class="i2Style">Website Info</h1> <br>
                    <h5>This website is about connecting people with the Olympics. We ought to keep you updated on Olympic matters. This site contains a <u> News section</u> where you get Exclusive news about the hot topics of the Olympics. It contains a
                        <u> Gallery section</u> where you see information about the Greatest Of All Time in Olympic history. The exclusive feature this site has is the <u>Analysis section</u> , where you get in-depth analysis of the players, games, stats,
                        and many more. It combines the power of Data Science with Web development and presents you with dynamic charts. <br><br> <i>This is an early version, and soon we will be launching Games and  many exciting features that will combine the power
                        of Convolutional Neural Network and  Generative AI in this website. See you soon. </i>
                    </h5>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <h1 class="i2Style">Our Team</h1> <br>
                    <div class="container text-center about_adjs">
                        <div class="row g-2">
                            <div class="col-6">
                                <div class="p-3">
                                    <img class="about_img" src="\images\jock1.jpg" alt=""> <br>
                                    <p>Pranav Jadhav</p> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="about_writeus container i2Style">
        <h2>Want to Contribute:</h2>
        <h4>If you are interested in Deep Learning and AI/ML related concepts and want to contribute in developing AI models then write us at: &nbsp; <a href="mailto:jadhavpranav89@gmail.com">jadhavpranav89@gmail.com</a> </h4>

    </div>

    <%- include("partials/footer"); -%>