<%- include("partials/header"); -%>

    <div class="top">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <img class="logo" src="images\logo.png" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/news">Olympic News</a>
                        <a class="nav-link" href="analysis.html">Analysis</a>
                        <a class="nav-link" href="/play">Gallery</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="mid">

            <p>Olympics <br>At a Glance <br>
                <a href="/about"><button class="btn btn-warning">About Website</button></a>
            </p>
        </div>
    </div>
    <div class="top_two">
        <h1>What's in for you</h1>
        <div>
            <a class="nav-link" href="/play">
                <img src="\images\play.gif" alt="">
                <h3>Gallery</h3>
            </a>
        </div>

        <div>
            <a class="nav-link" href="/news">
                <img src="\images\news.gif" alt="">
                <h3>Olympics News</h3>
            </a>
        </div>

        <div>
            <a class="nav-link" href="/analysis">
                <img src="\images\analysis.gif" alt="">
                <h3>Analysis Info</h3>
            </a>
        </div>
    </div>
    <br>

    <br><br><br><br>
    <div class="third_div">
        <p>Overview</p>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col ana_dist">
                <div class="card">
                    <img class="one" src="\images\medals.jpg" alt="">
                </div>
            </div>
            <div class="col info_back ana_dist sm_dist ana1 ">
                <h1>Tokyo 2020 Olympics Stats</h1> <br>
                <h3>The United States has traditionally been a strong participant in the Olympic Games and it again proved in Tokyo 2020 Olympics. In total 93 countris were able to grab medals. India won its 2nd individual Gold medel since participation.
                    Elaine Thompson-Herah makes Olympic history by defending title twice. Italy won 4 times more medals than previous time.
                </h3>
            </div>
            <div class="col info_back ana_dist  ">
                <h1>Olympics and Paralympics</h1> <br>
                <h3>There is a key difference between the Olympics and the Paralympics, where in the Olympics the participants will be able-bodied people and whereas in Paralympics the participants will have some form of physical or intellectual disabilities.
                    Swimmer Trischa Zorn from the USA has won the most medals of any Paralympic athlete.
                </h3>
            </div>
            <div class="col ana_dist sm_dist">
                <div class="card">
                    <img class="one" src="\images\olymps_stats.png" alt="">
                </div>
            </div>
        </div>
        <br><br>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col ana_dist">
                <div class="card">
                    <img class="one" src="\images\indian_medal.jpg" alt="">
                </div>
            </div>
            <div class="col info_back ana_dist sm_dist ana1">
                <h1>India's Olympics Stats</h1> <br>
                <h3>India has won total 28 medals in Olympics. Apart from 17 medals won by Individuals, the Men’s Hockey Team has also won 11 medals for India. In total, so far, India has bagged 28 medals in the Olympics – nine Golds, seven Silvers and 12
                    Bronzes. The Indian Men’s Hockey Team took its first-ever gold medal in 1928, beginning a streak of six consecutive gold medals in the sport.
                </h3>
            </div>

            <div class="col info_back ana_dist">
                <h1>Paris 2024 Olympics</h1> <br>
                <h3>The Paris 2024 Olympic and Paralympic Games will be the biggest event ever organised in France. The Olympic Games will take place from 26 July to 11 August 2024. The spectacle taking place during those weeks will go down in history and
                    Paris will be the centre of the world – the world of sport and so much more.</h3>
            </div>
            <div class="col ana_dist sm_dist">
                <div class="card">
                    <img class="one" src="\images\paris_host.png" alt="">
                </div>
            </div>
        </div>
    </div>






    <%- include("partials/footer"); -%>