<%- include("partials/header"); -%>
    <div class="play_top">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <img class="logo" src="images\logo.png" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        ````````<span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/news">Olympic News</a>
                        <a class="nav-link" href="analysis.html">Analysis</a>
                        <a class="nav-link active" href="/play">Gallery</a>
                    </div>
                </div>
            </div>
        </nav>

        <h1 class="play_og">Olympics Gallery- GOAT</h1>
        <div class="container">
            <div class="row row-cols-2 row-cols-lg-3 g-3 g-lg-3">
                <a href="https://olympics.com/en/athletes/michael-phelps-ii" target="_blank">
                    <div class="col">
                        <div class="p-6">
                            <div class="card text-bg-dark">
                                <img src="images\gl_mp.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title"> Michael phelps</h5>
                                    <p class="card-text">Most medals in olympics</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/usain-bolt" target="_blank">
                    <div class="col">
                        <div class="p-6">
                            <div class="card text-bg-dark">
                                <img src="images\gl_ub.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title"> Usain Bolt</h5>
                                    <p class="card-text">The fastest man in history</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/neeraj-chopra" target="_blank">
                    <div class="col">
                        <div class="p-6">
                            <div class="card text-bg-dark">
                                <img src="images\gl_nc.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Neeraj Chopra</h5>
                                    <p class="card-text">Indian Gold Medalist</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/jesse-owens" target="_blank">
                    <div class="col">
                        <div class="p-6">
                            <div class="card text-bg-dark">
                                <img src="images\gl_gi.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Jesse Owens</h5>
                                    <p class="card-text">Won 4 Gold Medal in One</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/nadia-comaneci" target="_blank">
                    <div class="col">
                        <div class="p-6">
                            <div class="card text-bg-dark">
                                <img src="images\gl_nc2.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Nadia Comaneci</h5>
                                    <p class="card-text"> Scored the first perfect 10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/carl-lewis" target="_blank">
                    <div class="col">
                        <div class="p-6">
                            <div class="card text-bg-dark">
                                <img src="images\gl_cl.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Carl Lewis</h5>
                                    <p class="card-text">Won 10 Gold Medals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/jackie-joyner-kersee" target="_blank">
                    <div class="col">
                        <div class="p-6">
                            <div class="card text-bg-dark">
                                <img src="images\gl_gl.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Jackie Joyner-Kersee</h5>
                                    <p class="card-text">All-round female athlete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/larisa-latynina" target="_blank">
                    <div class="col">
                        <div class="col">
                            <div class="p-6">
                                <div class="card text-bg-dark">
                                    <img src="images\gl_ll.jpg" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">Larisa Latynina</h5>
                                        <p class="card-text">Won 9 Gold Medals</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/florence-griffith-joyner" target="_blank">
                    <div class="col">
                        <div class="p-6">
                            <div class="card text-bg-dark">
                                <img src="images\gl_ml.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Florence Griffith-Joyner</h5>
                                    <p class="card-text">Speed,Fashion and Flair</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/teofilo-stevenson" target="_blank">
                    <div class="col">
                        <div class="col">
                            <div class="p-6">
                                <div class="card text-bg-dark">
                                    <img src="images\gl_tl.jpg" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">Teofilo Stevenson</h5>
                                        <p class="card-text">Cuba’s 3x Olympic Champ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/leisel-jones" target="_blank">
                    <div class="col">
                        <div class="col">
                            <div class="p-6">
                                <div class="card text-bg-dark">
                                    <img src="images\gl_lg.jpg" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">Leisel Jones</h5>
                                        <p class="card-text">Swimmer at just 15 years old</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://olympics.com/en/athletes/emma-mckeon" target="_blank">
                    <div class="col">
                        <div class="col">
                            <div class="p-6">
                                <div class="card text-bg-dark">
                                    <img src="images\gl_me.jpg" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">Emma McKeon</h5>
                                        <p class="card-text">Australian competitive swimmer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <h4 class="play_og"><i>more exciting to come....</i></h4>
        <%- include("partials/footer"); -%>
    </div>